body {
    font-family: Arial, sans-serif;
    background-color: #a2a2a2;
    display: block;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 80%;
    border-radius: 7px;
    box-shadow: 0 8px 32px 0;
    background-color: rgb(196, 245, 191);
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed5e29;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.guest-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fee1f1;
    color: rgb(10, 9, 12);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    transition: background-color 0.3s;
    box-shadow: 0 8px 32px 0;

}

.guest-btn:hover {
    background-color: #ec33e3;
}


.error {
    color: red;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.9rem;
    /* Adjust font size */
}

.keybox {
    display: grid;
    width: 70%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.key {
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.key:hover {
    background-color: #0055af;
}

.key:active {
    background-color: #49b10d;
    transform: scale(0.70);
}

.key i {
    font-size: 20px;
}

#clear {
    background-color: #880b18;
    border-radius: 20px;
}

#enter {
    background-color: #107828;
    border-radius: 20px;
}