body {
    font-family: Arial, sans-serif;
    background-color: #8d8a8a;
    display: block;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 8px 32px 0;
    background-color: rgb(138, 186, 244);
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #292626;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c53b08;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.guest-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #e4b1cd ;
    color: rgb(0, 0, 0);
    border: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    transition: background-color 0.3s;
    box-shadow: 0 8px 32px 0;

}

.guest-btn:hover {
    background-color: #ec33e3;
}
.error {
    color: rgb(157, 0, 0);
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.9rem;
}
.keybox {
    display: grid;
    width: 70%;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.key {
    padding: 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 3px 8px 0;
    transition: 0.1s ease-in-out;
}
.key:hover {
    background-color: #067411;
}
.key:active {
    background-color: #49b10d;
    transform: scale(0.65);
}
.key i {
    font-size: 20px;
}
#clear {
    background-color: #880b18;
    border-radius: 10px;
}
#enter {
    background-color: #107828;
    border-radius: 10px;
}