body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: rgb(122, 131, 132);
}

#form-box {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    align-items: center;
}

option {
    font-size: 18px;
    background-color: #fff2f2;
    color: #000000;
}

.select {
    font-size: 20px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border-radius: 8px;
    color: #540a0a;
    width: fit-content;
    background-color: #ffffff;
    border: 2px solid rgb(200, 145, 145)
}

#little-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: #52ffcb;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
}

.label {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.837);
}

input {
    padding: 8px;
    margin: 5px;
    width: 100px;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 13px;
    background-color: rgb(221, 252, 252);
}

#fat {
    color: rgb(220, 46, 46);
    border: 2px solid rgb(243, 86, 2);
}

#snf {
    color: rgb(55, 55, 201);
    border: 2px solid rgb(27, 17, 208);
}

#kg {
    color: rgb(8, 11, 1);
    border: 2px solid rgb(0, 0, 0);
}

.submit-btn {
    padding: 10px;
    background-color: #8a2c0af1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 28px;
    transition: transform 0.5s ease;
    box-shadow: 0 2px 22px 0;
}

.submit-btn:active {
    transform: scale(0.70);
}

.errorinput {
    color: red;
    display: block;
    font-size: 15px;
}

#ratedisplay {
    margin-top: 10px;
    color: rgb(38, 13, 178);

}

#totaldisplay {
    text-align: center;
    color: rgb(55, 0, 128);
    background-color: rgb(241, 245, 249);
    border-radius: 5px;
    border-color: rgb(73, 185, 8);
    border-style: inset;
}

.ratetotalbox {
    box-shadow: 0 8px 32px 0;
    padding: 10px;
    border-radius: 7px;
    width: 270px;
    background-color: #52ffcb;
    font-weight: bold;
    font-size: 25px;
}

/* Style For Today Table */
#table2 {
    display: relative;
    border-collapse: collapse;
    border-radius: 10px;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    color: #000000d4;
    /* Add border for better readability */
}

#table2 td {
    padding: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#table2 th {
    font-size: 12px;
    color: #fffeff;
    background-color: #080c82;
    /* Light gray background for table headers */
}

#table2 tfoot {
    color: #c1f41a;
    font-weight: bold;
    background-color: #000000;

}

#table2 tfoot td:first-child {
    text-align: center;
    font-size: 16px;
}

#table2 tbody tr:nth-child(1) {
    color: #2316db;
    /* Alternate row colors for better readability */
}

#table2 tbody td:nth-child(2) {
    font-size: 13px;
    /* Alternate row colors for better readability */
}

/* CSS for columns 4 and 5 */
#table2 td:nth-child(6),
td:nth-child(7) {
    color: hsl(0, 100%, 44%);
    font-size: 15px;
    font-weight: bolder;
}

.todaybox {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    box-shadow: 0 8px 32px 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.todaybox:hover {
    transform: scale(1.02);
}

/* make a media break point for bigger screens */

@media only screen and (min-width: 600px) {
    .todaybox {
        width: 500px;
        transition: transform 0.3s ease;
    }

    .todaybox:hover {
        transform: scale(1.1);
    }
}


#customDate {
    width: 180px;
}

#customTime {
    width: 180px;
}

.disabled {
    display: none;
}

#guest-info {
    color: #9d1607;
    font-weight: bolder;
}