header {
    background-color: #112213;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Adjust the z-index as needed */
    align-items: center;
    padding: 0;
}

.heading {
    color: rgb(82, 255, 255);
    display: block;
    padding: 10px 4px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #070f04;
    font-weight: bolder;

}

.menu-button {
    display: block;
    border-radius: 8px;
    margin-left: 10px;
    background-color: #000000;
}

.update-button {
    margin-right: 10px;
    margin-left: auto;
}

.clock-button {
    margin: 10px;
    color: white;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
}

.clock {
    color: white;
}

.nav__icon2 {
    font-size: 3.5rem;
    color: red;
}


.nav__icon {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    width: 250px;
    margin-top: 50px;
    margin-left: 3px;
    height: 90%;
    box-shadow: 0 8px 32px 0;
    z-index: 1;
    text-align: left;
    background-color: hsl(208, 55%, 91%);
    transition: left 0.2s ease;
}

.sidebar nav {
    padding: 20px;
}

.sidebar ul {
    list-style-type: square;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
    padding:8px;
    border-radius: 3px;

}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-style: oblique;
    font-size: 18px;
}


.sidebar ul li a:hover {
    text-decoration: underline red;
    color: rgb(94, 6, 38);

}

.nav {
    height: var(--header-height);
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 25px;
    border-radius: 50%;
}

.nav__icon {
    font-size: 40px;
    color: red;
}

#fixcurrentrate {

    color: rgb(38, 225, 141);
    font-weight: bolder;
    font-size: 13px;
}

#logoutButton {
    display: block;
    position: absolute;
    bottom: 9%;
    padding: 8px 12px;
    background-color: #fee1f1;
    color: rgb(10, 9, 12);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    transition: background-color 0.3s;
    box-shadow: 0 8px 32px 0;
}

#logoutButton:hover {
    background-color: #f92596;
}

#guest-info {
    position: absolute;
    bottom: 20px;
    font-size: 13px;
    text-align: left;
    text-decoration: underline blue;
}